<section class="product-listing">
    <h1 class="product-title">Productos</h1>
    <div class="product-grid">
        {{#each products}}
        {{#if this.available}}
        <article class="product-item">
            <div class="product-image">
                <div><a href={{this.thumbnail.[0]}} target="_blank"><img class="thumbnail" src={{this.thumbnail.[0]}}
                            alt={{this.thumbnail.[0]}}></a></div>
            </div>
            <div class="product-info">
                <div class="product-title">{{this.title}}</div>
                <div class="product-price">${{this.price}}</div>
                <div class="product-price">{{this.description}}</div>
                <div>
                    <button id={{this._id}} class="add-button">Agregar</button>
                </div>
            </div>
        </article>
        {{/if}}
        {{/each}}
    </div>
</section>