<section class="products_table">
    <h1 class="titulo">Productos</h1>
    <div class="table_categories">
        {{#each products}}
        {{#if this.available}}
        <article class="categories_item">
            <div class="item_foto">
                <div><a href={{this.thumbnail.[0]}} target="_blank"><img class="thumbnail" src={{this.thumbnail.[0]}}
                            alt={{this.thumbnail.[0]}}></a></div>
            </div>
            <div class="item_texto">
                <div class="title">Title: {{this.title}}</div>
                <div class="price">Descripcion: {{this.description}}</div>
                <div class="stock">Precio: {{this.price}}</div>
                <div>
                    <button id={{this.id}}>Agregar</button>
                </div>
            </div>
        </article>
        {{/if}}
        {{/each}}
    </div>
</section>